h1{
    color: rgb(88, 22, 163);
}

p{
    color: rgb(12, 12, 12)13, 13, 14;
}

section article p{
    color: rgb(157, 75, 233);
}
.nav{
    Background-color: rgb(234, 174, 247)
}
#sector1{
    background-color: rgb(14, 16, 17);
    border: 2px solid rgb(10, 10, 10);
    padding: 17px;
    margin: 20px;
}